language: node_js

node_js:
  - "10.13.0"


matrix:
  include:
  - name: "Linux"
    os: linux
    dist: xenial
    sudo: false
    before_install:
      - export DISPLAY=:99
      - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x24"
  - name: "MacOS"
    os: osx
    before_install:
      - export DISPLAY=:99
      - ( sudo Xvfb :99 -ac -screen 0 1024x768x8 && echo ok )&
      # - "sh -e /etc/init.d/xvfb start"
      - sleep 3 # give xvfb some time to start


install:
  - cd test
  - npm i


script:
  - npm test
